body{
    margin: 0;
    height: 100vh;
    width: 100vw;
}


#container {
    display: grid;
    place-items: center; /* Centrera innehållet både horisontellt och vertikalt */
    height: 100vh; /* För att centrera vertikalt i fönstret */
    background-image: url(../images/BK.png); 
    
}

#checkpoint {
    /* width: 34.61%; */
    height: 50%;
    margin: 0;
    /* position: absolute; */
    /* top: 253px;
    left: 129px; */
}

.size_input{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

#button{
    background-color: #3981A2;
    width: 185px;
    height: 51px;
    border-radius: 6px;
    color: white;
}