body{
    margin: 0;
    height: 100vh;
    width: 100vw;
}


#container {
    height: 100%;
    width: 100%;
    background-color: #F6E8E4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

#checkpoint {
    width: 34.61%;
    height: 22.65%;
    margin: 0;
    /* position: absolute; */
    /* top: 253px;
    left: 129px; */
}

.size_input{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

#button{
    background-color: #3981A2;
    width: 185px;
    height: 51px;
    border-radius: 6px;
}