div#firstCheckpointBackground {
    height: 100%;
    width: 100%;
    background-color: #F6E8E4;
}

img#leftFlowerImageFirstCheckpointPage {
    width: 83.15vw;
    height: 35.15vh;
    position: fixed;
    top: -4vh;
    left: -4.33vh;
}

img#rightFlowerImageFirstCheckpointPage {
    width: 104.91vw;
    height: 48.36vh;

    position: fixed;
    top: -11vh;
    left: 15.4vw;
}

img#markerFirstCheckpointPage {
    width: 34.61vw;
    height: 22.65vh;

    position: fixed;
    top: 29.69vh;
    left: 32.82vw;
}

h1#headingFirstCheckpointPage {
    margin: 0;
    width: 81.17vw;
    height: 4.69vh;
    font-family: "Butterfinger Serif";
    font-size: 30px;
    text-align: center;
    letter-spacing: calc(13 * .01em);
    color: #2C2C2C;
    
    position: absolute;
    top: 56.57vh;
    left: 9.41vw;
}

input.inputFirstCheckpointPage {
    width: 18.58vw;
    height: 7.98vh;
    border: 2px solid #D7D7D7;
    position: fixed;
    top: 63.03vh;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px;
    font-family: "Inter";
    font-size: 18px;
    text-align: center;
}

.inputFirstCheckpointPage:focus {
    outline: none;
}

input#input1FirstCheckpointPage {
    left: 9.41vw;
}

input#input2FirstCheckpointPage {
    left: 30.28vw;
}

input#input3FirstCheckpointPage {
    left: 51.15vw;
}

input#input4FirstCheckpointPage {
    left: 72.01vw;
}

button#buttonFirstCheckpointPage {
    margin: 0;
    height: 6.52vh;
    width: 33.52vw;
    background-color: #3981A2;
    color: #FFFFFF;
    border: 0;
    border-radius: 6px;
    box-sizing: border-box;
    cursor: pointer;

    font-family: "Butterfinger Serif";
    font-size: 22px;
    letter-spacing: calc(13 * .01em);

    position: fixed;
    top: 77.35vh;
    left: 33.33vw;
}
    
/*
#container {
    display: grid;
    place-items: center; /* Centrera innehållet både horisontellt och vertikalt 
    height: 100vh; /* För att centrera vertikalt i fönstret 
    background-color: #F6E8E4; 
}
#Group17 {
    margin: -27px;
}

#checkpoint {
    
    margin: 0;
    
}

.size_input{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

#button{
    background-color: #3981A2;
    width: 185px;
    height: 51px;
    border-radius: 6px;
    color: white;
}*/