div#introPageContainer {
    width: 100%;
    height: 100%;
    background-color: #D6E5E7;

    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 2fr 1.6fr
}

div#introPageContainerOverlay {
    background-color: rgba(11, 11, 11, 0.75);
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}

img#leafsImageIntroPage {
    height: 53.76vh;
    width: 126.21vw;

    position: absolute;
    top: 0;
    left: -24.2vw;
    overflow: hidden;
    z-index: 1;
}

img#lasseMajaSignIntroPage {
    height: 23.36vh;
    width: 90.84vw;

    position: absolute;
    top: 10.56vh;
    left: 0;
    z-index: 2;
}

img#lasseMajaImageIntroPage {
    width: 66.16vw;
    height: 39.08vh;

    /*position: absolute;
    top: 60.92vh;
    left: 28.75vw;*/
    z-index: 4;

    grid-row: 3;
    align-self: flex-end;
    justify-self: flex-end;
}

div#speechBubbleIntroPage {
    width: 260px;
    height: min-content;
    background-color: #010401;
    border: solid #888586 5px;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: "Butterfinger Serif";

    font-size: 18px;
    letter-spacing: calc(13 * .01em);
    line-height: 21px;
    padding: 27.5px 17px 27.5px 23px;

    position: relative;
    left: 6.11vw;
    z-index: 4;

    grid-row: 2;
    align-self: flex-end;
}

div#speechBubbleIntroPage2 {
    width: 262px;
    height: min-content;
    position: relative;
    left: 6.11vw;
    z-index: 4;
    line-height: 21px;

    background-color: #010401;
    border: solid #888586 5px;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: "Butterfinger Serif";
    font-size: 18px;
    letter-spacing: calc(13 * .01em);
    padding: 21px 17px 21px 25px;
    grid-row: 2;
    align-self: flex-end;
}

div#speechBubbleIntroPage3 {
    height: min-content;
    width: 260px;
    position: relative;
    left: 6.11vw;
    z-index: 4;
    line-height: 21px;

    background-color: #010401;
    border: solid #888586 5px;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: "Butterfinger Serif";
    font-size: 18px;
    letter-spacing: calc(13 * .01em);
    /*padding: 2.93vh 5.09vw 0 6.11vw;*/
    padding: 22px 20px 21px 20px;
    grid-row: 2;
    align-self: flex-end;
}

div#speechBubbleIntroPage > p {
    margin: 0;
}

div#speechBubbleIntroPage2 > p {
    margin: 0;
}

div#speechBubbleIntroPage3 > p {
    margin: 0;
}

/*Pilen i pratbubblan nedan*/
/*För varje sida*/
img#continueArrowIntroPage {
    z-index: 5;
    cursor: pointer;

    position: absolute;
    top: 70px;
    left: 169px;
    height: 78px;
    width: 70px;

    /*height: 8.5vh;
    width: 16.8vw;*/

    /*
    Värden från Figma nedan (som inte blir rätt):
    height: 61.67px;
    width: 81.83px;
    position: absolute;
    top: 528.94px;
    left: 198px;
    */
}

img#continueArrowIntroPage2 {
    z-index: 5;
    cursor: pointer;
  
    position: absolute;
    top: 203px;
    left: 177px;
    height: 78px;
    width: 70px;
}

img#continueArrowIntroPage3 {
    z-index: 5;
    cursor: pointer;
  
    position: absolute;
    top: 120px;
    left: 177px;
    height: 78px;
    width: 70px;
}