div#telephonePageBackground {
    height: 100%;
    width: 100%;

    background-image: url("../images/nudepinkBackground_512w.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

div#topQuestionButtonTelephonePage {
    height: 36px;
    width: 38px;
    z-index: 2;
   
    position: absolute;
    top: 40px;
    right: 35px;
    cursor: pointer;
 
    border-radius: 50px;
    border: 4px solid #353535;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    font-family: "Butterfinger Serif";
    font-size: 26px;
    color: #353535;

    display: flex;
    justify-content: center;
    align-items: center;
}

div#overlayTelephonePage {
    height: 100%;
    width: 100%;
    background-color: rgba(217, 217, 217, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

div#infoContainerTelephonePage {
    background-image: url("../images/Group\ 8_4x.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 264.84px;
    height: 148.57px;
    position: absolute;
    top: 88px;
    right: 21px;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

p#textInfoBoxTelephonePage {
    font-family: "Inter";
    text-align: center;

    height: 60px;
    width: 156px;
    margin: 0;
    font-size: 16px;
    z-index: 3;
}

div#landlineTelephone {
    background-image: url("../images/Telefon_4x.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    height: 47.43%;
    width: 81.07%;
    position: absolute;
    top: 30.75vh;
    left: 9.67vw;
    cursor: pointer;
}

/*Animering för den ringande telefonen nedan*/

.vibratingTelephone {
    animation: vibrate 0.3s linear infinite;
}

@keyframes vibrate {
    0% { transform: translate(0, 0); }
    25% { transform: translate(7px, 7px); }
    50% { transform: translate(0, 7px); }
    75% { transform: translate(7px, 0); }
    100% { transform: translate(0, 0); }
}

/*Sidorna med Karins röstmeddelande nedan*/
div#overlayLibrarianMissedCallPage {
    background-color: rgba(11, 11, 11, 0.85);

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1.2fr 1fr;
    z-index: 2;
    gap: 17px;

}

div#voiceMessageFromLibrarian {
    width: 291px;
    height: min-content;
    background-color: #010401;
    border: 5px solid #888586;
    border-radius: 15px;
    box-sizing: border-box;

    position: relative;
    left: 9vw;
    z-index: 3;

    grid-row: 1;
    align-self: flex-end;

    color: #FFFFFF;
    font-family: "Butterfinger Serif";
    font-size: 18px;
    letter-spacing: calc(13 * .01em);
    padding: 37px 20px 37px 30px; 
    line-height: 21px;

}

div#voiceMessageFromLibrarian2 {
    width: 262px;
    height: min-content;
    background-color: #010401;
    border: 5px solid #888586;
    border-radius: 15px;
    box-sizing: border-box;

    position: relative;
    left: 9vw;
    z-index: 3;

    grid-row: 1;
    align-self: flex-end;

    color: #FFFFFF;
    font-family: "Butterfinger Serif";
    font-size: 18px;
    letter-spacing: calc(13 * .01em);
    padding: 22px 18px 22px 24px;
    line-height: 21px;
}

div#voiceMessageFromLibrarian > p {
    margin: 0;
}

div#voiceMessageFromLibrarian2 > p {
    margin: 0;
}

img#continueArrowLibrarianVoiceMessage {
    /*height: 8.07%;
    width: 18.34%;*/
    height: 78px;
    width: 70px;

    z-index: 4;

    cursor: pointer;
    position: absolute;
    top: 153px;
    left: 209px;
}

img#continueArrowLibrarianVoiceMessage2 {
    /*height: 8.07%;
    width: 18.34%;*/
    height: 78px;
    width: 70px;

    z-index: 4;
    cursor: pointer;
    position: absolute;
    top: 183px;
    left: 177.3px;
}

img#librarianKarinVoiceMessage {
    height: 212px;
    width: 226px;

    z-index: 3;

    grid-row: 2;
    justify-self: flex-end;
    align-self: flex-start;
}

/*Lasse och Maja sida efter att röstmeddelandet från Karin bröts*/
div#callKarinPageContainer {
    width: 100%;
    height: 100%;
    background-color: #D6E5E7;

    position: relative;
    top: 0;
    right: 0;
    left: 0; 
    bottom: 0;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 2fr 1.6fr;
    overflow: hidden;
}

div#callKarinPageContainerOverlay {
    background-color: rgba(11, 11, 11, 0.75);
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}

img#leafsImageCallKarinPage {
    height: 53.76vh;
    width: 126.21vw;

    position: absolute;
    top: 0;
    left: -24.2vw;
    z-index: 1;
}

img#lasseMajaSignCallKarinPage {
    height: 23.36vh;
    width: 90.84vw;

    position: absolute;
    top: 10.56vh;
    left: 0;
    z-index: 2;
}

img#lasseMajaImageCallKarinPage {
    /*width: 260px;
    height: 333px;*/
    
    width:  66.16vw;
    height: 39.08vh;

    /*position: absolute;
    top: 60.92vh;
    left: 28.75vw;*/
    z-index: 4;

    grid-row: 3;
    justify-self: flex-end;
    margin-right: 18px;
}

div#speechBubbleCallKarinPage {
    width:  260px;
    height: min-content;
    background-color: #010401;
    border: solid #888586 5px;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: "Butterfinger Serif";
    padding: 25px 20px;
    font-size: 18px;
    letter-spacing: calc(13 * .01em);

    position: relative;
    /*top: 378px;*/
    left: 6.11vw;
    z-index: 4;

    grid-row: 2;
    align-self: flex-end;
    line-height: 21px;

}

div#speechBubbleCallKarinPage > p {
    margin: 0;
}

img#continueArrowCallKarinPage {
    /*width: 17.81vw;
    height: 9.15vh;*/
    width: 78px;
    height: 70px;
    cursor: pointer;
    z-index: 1;

    position: absolute;
    left: 174px;
    top: 145px;
}

div#overlayAfterKarinVoiceMessage {
    height: 100%;
    width: 100%;
    background-color: rgba(217, 217, 217, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}

div#infoContainerAfterKarinVoiceMessage {
    background-image: url("../images/Group\ 8_4x.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 264.84px;
    height: 148.57px;
    position: absolute;
    top: 88px;
    right: 21px;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
}

p#textInfoBoxAfterKarinVoiceMessage {
    font-family: "Inter";
    text-align: center;

    height: 60px;
    width: 156px;
    margin: 0;
    font-size: 16px;
    z-index: 7;
}

div#topQuestionButtonAfterKarinVoiceMessage {
    height: 36px;
    width: 38px;
    z-index: 6;
   
    position: absolute;
    top: 40px;
    right: 35px;
    cursor: pointer;
 
    border-radius: 50px;
    border: 4px solid #FBF8F4;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    font-family: "Butterfinger Serif";
    font-size: 26px;
    color: #FBF8F4;

    display: flex;
    justify-content: center;
    align-items: center;
}