/*Koden för denna sidan är i rebusPage.js*/

@media screen and (orientation: portrait) {
    div#loginInfoPage {
        background-color: #2C2C2C;
        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div#tapedNoteInfoPage {
        background-image: url("../images/Group\ 5_512w.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;


        /*height: 729.78px;
        width: 372.66px;*/
        height: 85.65vh;
        width: 94.82vw;
        position: fixed;
        top: 10.68vh;
        /*left: 2.80vw;*/

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1#successHeadingLoginInfoPage {
        position: fixed;
        top: 33.80vh;
        /*left: 17.81vw;*/

        height: 8.80vh;
        width: 245px;
        font-family: "Butterfinger Serif";
        font-size: 30px;
        letter-spacing: calc(13 * .01em);
        text-align: center;
        line-height: normal;
        margin: 0;

    }

    h3#loginInfoHeadingLoginInfoPage {
        height: 3.08vh;
        width: 254px;
        margin: 0;
        font-family: "Butterfinger Serif";
        font-size: 18px;
        letter-spacing: calc(13 * .01em);

        position: fixed;
        top: 46.95vh;
    }

    div#usernameLoginInfoPage {
        height: 5.87vh;
        width: 254px;
        border-radius: 6px;
        border: 2px solid #E1E0DF;
        box-sizing: border-box;

        position: fixed;
        top: 50.82vh;
        font-family: "Inter";
        font-size: 16px;
        letter-spacing: calc(1.5 * .01em);
        color: rgba(44, 44, 44, 0.57);

        display: flex;
        justify-content: center;
        align-items: center;
    }

    div#passwordLoginInfoPage {
        height: 5.87vh;
        width: 254px;
        border-radius: 6px;
        border: 2px solid #E1E0DF;
        box-sizing: border-box;

        position: fixed;
        top: 57.86vh;
        font-family: "Inter";
        font-size: 16px;
        letter-spacing: calc(1.5 * .01em);
        color: rgba(44, 44, 44, 0.57);

        display: flex;
        justify-content: center;
        align-items: center;
    }

    div#webAddressLoginInfoPage {
        height: 5.87vh;
        width: 254px;
        border-radius: 6px;
        border: 2px solid #E1E0DF;
        box-sizing: border-box;

        position: fixed;
        top: 65.73vh;
        font-family: "Inter";
        font-size: 14px;
        letter-spacing: calc(1.5 * .01em);
        color: rgba(44, 44, 44, 0.57);

        display: flex;
        justify-content: center;
        align-items: center;
    }

    button#doneButtonLoginInfoPage {
        margin: 0;
        height: 55.57px;
        width: 131.72px;
        background-color: #3981A2;
        color: #FFFFFF;
        border: 0;
        border-radius: 6px;
        box-sizing: border-box;
        cursor: pointer;

        font-family: "Butterfinger Serif";
        font-size: 22px;
        letter-spacing: calc(13 * .01em);

        position: fixed;
        top: 77.35vh;
    }

    div#infoButtonLoginInfoPage {
        height: 36px;
        width: 38px;
       
        position: absolute;
        top: 4.69vh;
        left: 81.42vw;
        cursor: pointer;
     
        border-radius: 50px;
        border: 4px solid #FBF8F4;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
        font-family: "Butterfinger Serif";
        font-size: 26px;
        color: #FBF8F4;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div#overlayLoginInfoPage {
        background-color: rgba(11, 11, 11, 0.85);
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    div#infoContainerLoginInfoPage {
        background-image: url("../images/Group\ 8_4x.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        width: 67.39vw;
        height: 17.44vh;
        position: absolute;
        top: 10.33vh;
        left: 29.26vw;
        font-family: "Inter";
        font-size: 16px;
        text-align: center;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}
