div#backgroundPoliceCallPage {
    background-color: #3981A2;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0; 
    right: 0;
    bottom: 0;

    display: grid;
    grid-template-columns: 100%;
    /*grid-template-rows: 30vh 27vh 43vh;*/
    grid-template-rows: 0.8fr 2fr 3fr;

    overflow: hidden;
}

div#backgroundOverlayPoliceCallPage {
    background-color: rgba(11, 11, 11, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    right: 0; 
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

img#lampPostPoliceCallPage {
    height: 88.73%;
    width: 42.49%;

    position: absolute;
    top: 10.56vh;
    left: 0;
    z-index: 1;

}

img#flowersPoliceCallPage {
   width: 152.67%;
   height: 48.36%;

   position: absolute;
   top: -8vh;
   left: -49.3vw;
   z-index: 0;

}

img#chefOfPolicePoliceCallPage {
    width: 71.5vw;
    height:  43.43vh;

    position: absolute;
    top: 56.57vh;
    left: 28vw;
    z-index: 4;
}

div#speechBubble1PoliceCallPage {
    grid-row: 2 / 3;
    align-self: flex-end;

    width: 68.96vw;
    height: min-content;

    position: relative;
    left: 6.62vw;

    z-index: 4;
    line-height: 21px;

    background-color: #010401;
    border: solid #888586 5px;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: "Butterfinger Serif";
    font-size: 18px;
    letter-spacing: calc(13 * .01em);
    padding: 9.72% 4.58vw 9.72% 7vw;

    /*Padding med pixlarna nedan ser ej bra ut på större skärmar*/
    /*padding: 35px 10px 24px 25px;*/

}

div#speechBubble1PoliceCallPage2 {
    grid-row: 2 / 3;
    align-self: flex-end;

    width:  73.54vw;
    height: min-content;

    position: relative;
    left: 6.62vw;

    z-index: 4;
    line-height: 21px;

    background-color: #010401;
    border: solid #888586 5px;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: "Butterfinger Serif";
    font-size: 18px;
    letter-spacing: calc(13 * .01em);
    padding: 7.8% 4.58vw 10.72% 5.12vw;

    /*Padding med pixlarna nedan ser ej bra ut på större skärmar*/
    /*padding: 28px 10px 20px 18px;*/

    /*Padding i pixlar bara uppe och nere?*/
    /*padding: 38px 4.58vw 38px 7vw*/

    /*Iphone SE:*/
    /*padding: 22px 10px 20px 25px*/
}

img#arrowPoliceCallPage {
    position: absolute;
    top: 66%;
    left: 70%;

    height: 8.5vh;
    width: 18.8vw;

    cursor: pointer;
}

img#arrowPoliceCallPage2 {
    position: absolute;
    top: 67%;
    left: 70%;

    height: 8.5vh;
    width: 18.8vw;

    cursor: pointer;
}

div#speechBubble1PoliceCallPage > p {
    margin: 0;
}

div#speechBubble1PoliceCallPage2 > p {
    margin: 0;
}