div#infoButtonRebusPage {
  height: 36px;
  width: 38px;

  position: absolute;
  top: 27px;
  right: 25px;

  cursor: pointer;
  z-index: 4;

  border-radius: 50px;
  border: 4px solid #fbf8f4;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "Butterfinger Serif";
  font-size: 26px;
  color: #fbf8f4;

  display: flex;
  justify-content: center;
  align-items: center;
}

div#rebusBackgroundOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    height: 100%;
    width: 100%;
    background-color: rgba(11, 11, 11, 0.85);

}

div#infoContainerRebusPage {
    background-image: url("../images/Group\ 8_4x.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width:  264.84px;
    height: 148.57px;

    position: absolute;
    top: 73px;
    right: 12px;

    font-family: "Inter";
    font-size: 16px;
    text-align: center;
    z-index: 4;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (orientation: landscape) {
  div#rebusPageBackground {
    background-color: #d6e5e7;
    height: 110%;
    width: 100%;

    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    overflow-x: hidden;
    overflow-y: hidden;
  }

  img#rightFacingFlowersRebusPage {
    width: 57.16vw;
    height: 81.42vh;
    position: absolute;
    top: -18.32vh;
    left: -8.45vw;

    grid-row: 1;
  }

  img#leftFacingFlowersRebusPage {
    width: 62.09vw;
    height: 81.42vh;
    position: absolute;
    top: -12.98vh;
    left: 48.71vw;
    grid-row: 1;
  }

  img#clotheslineRebusPage {
    width: 99.85vw;
    height: 19.5vh;

    position: absolute;
    top: 8.94vh;
    left: 1px;
    grid-row: 1;
  }

  img#frogPictureRebusPage {
    height: 45.8vh;
    width: 14.79vw;

    position: absolute;
    top: 23.5vh;
    left: 17.72vw;
    grid-row: 1;
  }

  img#tentPictureRebusPage {
    height: 44vh;
    width: 29.51vw;

    position: absolute;
    top: 27.78vh;
    left: 37.5vw;
    grid-row: 1;
  }

  img#bubblesPictureRebusPage {
    height: 46.04vh;
    width: 15.13vw;

    position: absolute;
    top: 23.41vh;
    left: 71.48vw;
    grid-row: 1;
  }

  input#rebusInputField {
    height: 47px;
    width: 33.57vw;
    border: 2px solid #d7d7d7;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: "Inter";
    font-size: 18px;
    padding: 10px 25px;
    color: #2c2c2c;
    letter-spacing: calc(1.5 * 0.01em);

    position: absolute;
    top: 78.63vh;
    left: 27.82vw;
    grid-row: 2;
  }

  input#rebusInputField:focus {
    outline: none;
  }

  button#rebusButton {
    height: 47px;
    width: 75px;
    border: 0;
    border-radius: 6px;
    background-color: #3981a2;
    box-sizing: border-box;
    cursor: pointer;

    position: absolute;
    top: 78.63vh;
    left: 63.27vw;
    grid-row: 2;
  }

  img#arrowImageRebusPage {
    height: 87px;
    width: 74px;
    cursor: pointer;

    position: relative;
    top: -23px;
    left: -4px;
    z-index: 1;
  }

  div#firstPlusSignRebusPage {
    position: absolute;
    top: 49.68vh;
    left: 38.28vw;
    rotate: 3.63deg;
  }

  div#secondPlusSignRebusPage {
    position: absolute;
    top: 47.15vh;
    left: 65.66vw;
    rotate: 1.26deg;
  }

  .plusSignRebusPage {
    width: 1.87vw;
    height: 33.81px;
    font-family: "Butterfinger Serif";
    font-size: 40px;
  }
}
