#startPageBackground {
    height: 100%;
    width: 100%;
    background-color: #F6E8E4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#lasseMajaImageContainerStartP {
    width: 100%;
    height: 28.99vh;
    margin-top: 15.38vh;

}

img#lasseMajaImageStartP {
    height: 100%;
    width: 100%;
}

div#welcomeContainer {
    height: 41.21vh;
    width: 88.55vw;
    margin-top: 2vh;
    background-image: url("../images/Group\ 5_512h.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h2#welcomeText {
    margin: 14.79vh 0 1.88vh 0;
    
    height: 5.99vh;
    width: 54.96vw;
    text-align: center;

    font-family: "Butterfinger Serif";
    font-size: 40px;
}

button#registerButton {
    height: 5.99vh;
    width: 50.64vw;
    background-color: #D9675B;
    border: 0;
    border-radius: 6px;
    color: #FFFFFF;
    cursor: pointer;

    font-family: "Butterfinger Serif";
    font-size: 20px;
}

div#topQuestionButton {
    /*height: 4.23vh;
    width: 9.67vw;*/
    height: 36px;
    width: 38px;
   
    position: absolute;
    top: 4.69vh;
    left: 81.42vw;
    cursor: pointer;
 
    border-radius: 50px;
    border: 4px solid #353535;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    font-family: "Butterfinger Serif";
    font-size: 26px;
    color: #353535;

    display: flex;
    justify-content: center;
    align-items: center;

    /*
    background-image: url("../images/infoButton_512h.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    */
}

div#overlayStartPage {
    height: 100%;
    width: 100%;
    background-color: rgba(217, 217, 217, 0.7);
    position: absolute;
    top: 0;
    left: 0;
}

div#infoContainerStartPage {
    background-image: url("../images/Group\ 8_512w.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 67.39vw;
    height: 27.58vh;

    font-family: "Inter";
    font-size: 16px;

    display: flex;
    flex-direction: column;
    text-align: center;

    position: absolute;
    top: 10.33vh;
    left: 29.26vw;
}

p#firstParagraphInfoBox {
    margin: 5.87vh 0 0 0;
    height: 9.15vh;

}

p#secondParagraphInfoBox {
    margin: 2.70vh 0 0 0;
}

div#createUsernameContainer {
    height: 85.65vh;
    width: 94.82vw;
    background-image: url("../images/Group\ 5_512w.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    top: 9.53vh;
    left: 2.80vw;
}

div#createUsernameContainer {
    display: flex;
    flex-direction: column;
}

img#policeStartPage {
    height: 24.29vh;
    width: 52.86vw;
    margin: 11.83vh 19.85vw 0 19.85vw;
}

h2#chooseUsernameStartPage {
    font-family: "Butterfinger Serif";
    font-size: 28px;
    margin: 1.65vh 16.54vw 0 16.54vw;
    text-align: center;

    width: 65.39vw;
    height: 5.63vh;
}

.usernameInputs {
    height: 5.87vh;
    width: 64.63vw;
    border: 2px solid #D7D7D7;
    border-radius: 6px;
    font-family: "Inter";
    font-size: 16px;
    color: rgba(44, 44, 44, 0.57);
    box-sizing: border-box;
    padding: 1.41vh 3.05vw 1.41vh 3.05vw;
}

input#firstNameInput {
    margin: 3.52vh 16.54vw 0 16.54vw;
}

input#lastNameInput {
    margin: 1.17vh 16.54vw 0 16.54vw;
}

button#saveUsernameButton {
    margin: 7.16vh 31.81vw 0 31.81vw;
    height: 6.52vh;
    width: 33.52vw;
    background-color: #3981A2;
    color: #FFFFFF;
    border: 0;
    border-radius: 6px;
    box-sizing: border-box;
    cursor: pointer;

    font-family: "Butterfinger Serif";
    font-size: 22px;
}