@font-face {
    font-family: "Butterfinger Serif";
    src: url("../fonts/ButterFinger\ Serif\ Regular.ttf");
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f0e5d8;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1{
    font-family: "Butterfinger Serif";
}
.container {
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;

}

.login-form p {
    background-color: #e8e8e8; 
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}

.login-form span {
    font-weight: bold; 
}
